## SQL in 10 Minutes
### Intro

We often combine sqlite with pandas to get the fastest method in Python environment.

So the first thing in our track is to construct what is needed for Py language when merging sql database.

In [1]:
import sqlite3
import pandas as pd

Here our resources come from the book of the title given above. (support them and buy the book)

In [2]:
db = 'tysql.sqlite'
# abbr for database
conn = sqlite3.connect(db)

In [5]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

Right here we briefly see the tables listed in our database.

In [6]:
print(cursor.fetchall())

[('Customers',), ('OrderItems',), ('Orders',), ('Products',), ('Vendors',)]

Now we test if we may use `sql` operations successfully

In [9]:
sql = "select * from Products"
pr_test = pd.read_sql_query(sql, conn)

See if everything goes in a right way

In [10]:
pr_test.head()

,prod_id,vend_id,prod_name,prod_price,prod_desc
0,BR01,BRS01,8 inch teddy bear,5.99,"8 inch teddy bear, comes with cap and jacket"
1,BR02,BRS01,12 inch teddy bear,8.99,"12 inch teddy bear, comes with cap and jacket"
2,BR03,BRS01,18 inch teddy bear,11.99,"18 inch teddy bear, comes with cap and jacket"
3,BNBG01,DLL01,Fish bean bag toy,3.49,"Fish bean bag toy, complete with bean bag worm..."
4,BNBG02,DLL01,Bird bean bag toy,3.49,"Bird bean bag toy, eggs are not included"